<h2>Login</h2>
<mat-card>
    <form>
        <mat-form-field>
            <input matInput type="email" placeholder="Email">
            <mat-error *ngIf="">Enter an email</mat-error> 
        </mat-form-field>  
        <mat-form-field>
            <input matInput type="password" placeholder="Password">  
            <mat-error *ngIf="">Enter a password</mat-error> 
        </mat-form-field>     
        <button mat-raised-button color="primary" type="submit">Login</button>
    </form>   
</mat-card>