<h2>Submit a post!</h2>
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="text" [ngModel]="post?.title" name="title" required #title = "ngModel" placeholder="Title">
            <mat-error *ngIf="title.invalid">Enter a title</mat-error> 
        </mat-form-field>  
        <mat-form-field>
            <input matInput type="text" [ngModel]="post?.content" name="content" required #content = "ngModel" placeholder="Content">  
            <mat-error *ngIf="content.invalid">Enter content</mat-error> 
        </mat-form-field>     
        <button mat-raised-button color="primary" type="submit">Save Post</button>
    </form>   
</mat-card>