<mat-toolbar color="primary">
    <span><a routerLink="/">My messages</a></span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button (click)="onLogout()" mat-button>Logout</button>
        </li>
    </ul>
</mat-toolbar> 
